@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  /* font-size: 62.5%; */
  /* scroll-behavior: smooth; */
  scroll-snap-type: Y mandatory;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --h-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section{
  /* scroll-snap-align: start; */
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 4rem 2.4rem;
}

/* .section-about .container:first-child,
.section-course .container:first-child,
.section-contact--homepage .container:first-child,
.section-why--choose .container:first-child,
.section-contact .container:first-child {
  padding: 3rem 0 2.4rem 0;
} */

:is(
    .section-about,
    .section-blog,
    .section-contact,
    .section-course,
    .section-why--choose,
    .section-contact--homepage
  ).container:first-child {
  padding: 1rem 0 2.4rem 0 !important;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding-top: 1rem;
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.section-common-heading {
  font-size: 3rem;
  text-transform: capitalize;
}

.section-common-subheading {
  color: var(--heading-color);
}

.section-commom--title {
  font-size: 1rem;
  margin: 2.4rem 0 1.2rem 0;
}

.fa-solid,
.fa-brands,
.fa-regular {
  background-color: var(--supporting-color);
  color: var(--h-color);
  width: 5rem;
  aspect-ratio: 1;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

/*********Navbar Start*****/

.navbar-brand a {
  font-size: 3rem;
  background: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.section-navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2.4rem;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }

  & li a:hover::after {
    width: 100%;
  }

  & li a:hover {
    color: var(--main-color);
  }
}

/*********Navbar End*****/

/*******Hero section start******/

main {
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
  position: relative;
}

.section-hero .grid {
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    word-spacing: 0.2rem;
    color: var(--h-color);
    font-weight: 700;
  }

  & .hero-heading {
    font-size: 3rem;
    color: var(--h-color);
    font-family: "Urbanist", sans-serif;
    line-height: 1.25;
  }

  & .hero-para {
    color: var(--white-color);
    margin: 1rem 0 3rem 0;
  }
}

.section-hero--image img {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

/**********Shape divider start****/

.custom-shape-divider-bottom-1768385699 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1768385699 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1768385699 .shape-fill {
  fill: #ffffff;
}

/**********Shape divider End****/
/*******Hero section End******/

/*******About section Start******/

.section-about .about-div {
  text-align: center;
}

.section-about img {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  width: 10rem;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.about-div .icon:hover > img {
  transform: rotate(360deg);
  background-image: linear-gradient(to right, #0575e6, #021b79);
}

/*******About section End******/

/*******Course section Start******/

.section-course {
  background-color: #f7fcff;
}

.section-course .course-div {
  padding: 1rem 1rem 0 1rem;
}

.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(1) .icon .fa-brands {
  background-color: #e7d65b;
  color: var(--heading-color);
}

.course-div:nth-child(2) .icon .fa-brands {
  background-color: #9aabf2;
}

.course-div:nth-child(3) .icon .fa-regular {
  background-color: rgb(220, 137, 137);
  color: rgb(199, 36, 36);
}

.course-div:nth-child(4) .icon .fa-brands {
  background-color: #eedfcc;
  color: #f79c25;
}

.course-div:nth-child(5) .icon .fa-solid {
  background-color: #aaddeb;
  color: #07bff2;
}

.course-div:nth-child(6) .icon .fa-brands {
  background-color: #e8ac9d;
  color: #e6532e;
}

.course-div:nth-child(7) .icon .fa-brands {
  background-color: #c2a7dc;
  color: #6b3a9c;
}

.course-div:nth-child(8) .icon .fa-brands {
  background-color: #7d87b0;
  color: #3c4a82;
}

/*******Course section End******/

/*******why choose section Start******/

.section-why--choose .grid {
  gap: 5rem;
}

.why-choose--div {
  margin-top: 2rem;
}

.section-why--choose .text-align--right .why-choose--div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text--highlight {
  width: 4rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 700;
}

.section-why--choose .choose-center--div {
  display: grid;
  place-items: center;
  position: relative;
}

.section-why--choose .choose-center--div figure::before,
.section-why--choose .choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  z-index: -1;
  animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #b491ff;
  }
  75% {
    background-color: #99c0ff;
  }
  100% {
    background-color: #3381ff;
  }
}

.choose-center--div figure::after {
  width: 50rem;
  height: 50rem;
  background-color: red;
  z-index: -2;
  border: 1rem solid var(--supporting-color);
}

.section-why--choose .choose-center--div img {
  width: 100%;
  height: auto;
}

/*******why choose section End******/

/* ***********Contact home Section start */

.section-contact--homepage {
  width: 70%;
  min-height: 10rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 0.2rem;
  background-color: var(--white-color);
  position: relative;
  bottom: -7rem;
  z-index: 1;
  margin-top: -4rem;

  & .grid {
    align-items: center;
    gap: 3rem;
  }
}

.contact-title {
  font-size: 2rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}

.section-contact--homepage .btn {
  padding: 0.5rem 1.5rem;
}

.section-contact--homepage a {
  color: var(--white-color);
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.section-contact--homepage .fa-solid {
  padding: 0;
  color: var(--white-color);
  width: 0;
}

.section-contact--homepage .contact-image img {
  width: 100%;
  height: auto;
}

/* ***********Contact home Section End */

/*********Footer start**********/

footer {
  background-color: #040d12;
  padding-top: 10rem;
}

footer * {
  color: var(--white-color);
}

footer .grid {
  text-align: right;
}

.footer-subheading {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-1--div p {
  margin: 1rem 0 3.2rem 0;
}

.footer-1--div {
  text-align: left;

  & .social-footer--icons {
    display: flex;
    gap: 2rem;
  }

  & .fa-brands {
    width: 3rem !important;
    aspect-ratio: 1;
    transition: all 0.3s linear;

    &:hover {
      color: var(--supporting-color);
      background-color: var(--btn-hover-bg-color);
      rotate: 360deg;
    }
  }
}

/*********Footer End**********/

/*********Blog start**********/

.section-blog {
  background-color: var(--bg-color);

  & .blog {
    box-shadow: var(--btn-box-shadow);
    transition: all 0.3s linear;

    &:hover {
      scale: 1.1;
    }

    & .blog-content {
      padding: 0 1rem 1rem 1rem;
    }
  }

  & .blog img {
    width: 100%;
    height: auto;
  }

  & .blog-date {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1rem;
  }

  & .fa-solid {
    background-color: transparent;
    padding: 0.89rem;
    width: 0;
    font-size: 1.4rem;
  }

  & .section-commom--title {
    margin-top: 0.8rem;
  }
}
/*********Blog End**********/

/*********Contact page Start**********/

.section-contact .form {
  padding-top: 1rem;
}

.section-contact .grid {
  gap: 2.5rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

label {
  display: block;
  text-transform: capitalize;
}

input,
textarea {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  outline: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid var(--main-color);
  border: 1px solid var(--btn-hover-bg-color);
}

::placeholder {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.contact-content .grid {
  gap: 3rem;
}

.btn-submit {
  font-size: 1rem;
  border: none;
  text-transform: capitalize;
}

.section-contact .contact-map {
  padding-top: 1.3rem;
}
/*********Contact page End**********/

/******Scroll bar start*******/

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50%;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--heading-color);
}

/******Scroll bar End*******/

/*************Media query start***/


@media (width <= 1100px){
  .section-course .grid-four--cols, .section-blog .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  }

  /*******why choose section Start******/

  .section-why--choose .choose-center--div{
    order: 1;
  }

  .section-why--choose .choose-left--div{
    order: 2;
  }

  .section-why--choose .choose-right--div{
    order: 3;
  }

.section-why--choose .choose-center--div figure::before, .section-why--choose .choose-center--div figure::after{
  width: 0;
  height: 0;
}

.section-why--choose .grid {
  gap: 3rem;
}

}

@media (width <= 998px) {
  p,
  li,
  a,
  label {
    font-size: 0.9rem;
  }

  .section-commom--title {
    font-size: 0.9rem;
  }

  .section-common-heading {
    font-size: 2.5rem;
  }

  .section-common-subheading {
    font-size: 0.9rem;
  }

  .fa-solid,
  .fa-brands,
  .fa-regular {
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1rem;
  }

  .btn {
    padding: 1rem 2rem;
  }

  .section-hero .grid-two--cols {
    grid-template-columns: 1fr;
  }


  /*********nav bar***********/

  .navbar-brand a {
    font-size: 2.8rem;
  }

  .section-navbar .navbar ul {
    gap: 1.6rem;
  }

  .section-navbar .navbar ul li a {
    font-size: 0.9rem;
    font-weight: 700;
  }

  /*********Hero section***********/

  .section-hero .hero-subheading {
    margin-left: 0.2rem;
  }

  .section-hero .section-hero--content .hero-heading {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .section-hero .section-hero--content .hero-para {
    font-size: 0.9rem;
  }

  .section-hero {
    height: auto;
    padding-bottom: 2rem;
  }

  .section-hero .section-hero--content {
    order: 2;
  }

  .section-hero .section-hero--image {
    order: 1;
  }

  .section-hero .section-hero--image img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  /*******About section Start******/

  .section-about img {
    width: 8rem;
    padding: 2rem;
  }


  .section-about .about-div {
  text-align: left;
}


/*******Footer section Start******/
footer .grid-four--cols{
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  text-align: left;
}

footer .grid-four--cols .footer-1--div {
  grid-row: 2/3;
  grid-column: 1/-1;
  margin-top: 2rem;
}
}


@media (width <= 768px) {
  .grid-two--cols,
  .grid-three--cols {
    grid-template-columns: 1fr;
  }

  .section-navbar .container {
    flex-direction: column;
  }

  .section-why--choose .choose-center--div img{
    width: 30%;
  }
  .section-why--choose .text-align--right .why-choose--div{
    align-items: start;
    text-align: left;
  }
}

@media (width <= 700px){
  .section-why--choose .grid {
  gap: 0rem;
}
}

@media (width <= 400px){
    .btn {
        padding: 1rem 1.5rem;
    }
}



/*************Media query End******/
